Repository Samal-Ibrahim/PE2_Holidaze: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["npm run lint", "npm run format"],
	"*.json": ["npm run format"]
}

feat: update pre-commit hook to remove npm test; add vitest as a dev dependency
  .husky/pre-commit
  package-lock.json
  package.json
Due: npm run format

feat: add react-day-picker for date selection in venue booking
  README.md
  package-lock.json
  package.json
  src/api/auth/loginApi.ts
  src/api/bookings/cancelBooking.ts
  src/api/bookings/index.ts
  src/api/venues/createVenue.ts
  src/api/venues/editVenueApi.ts
  src/components/Header/Index.tsx
  src/lib/errors/custom-errors.ts
  src/lib/validators/schemas.ts
  src/pages/Auth/Login.tsx
  src/pages/Profile/Profile.tsx
  src/pages/Profile/components/EditVenues.tsx
  src/pages/Venues/CreateVenue/index.tsx
  src/pages/Venues/ViewSingleVenue/index.tsx
  src/routes/VenueManagerRoute.tsx
  src/styles/components.css
  src/types/venue.ts
Due: npm run lint, npm run format

Enhance Venues page with mobile filter toggle and improved layout
  package-lock.json
  src/pages/Venues/index.tsx
  src/styles/base.css
Due: npm run lint, npm run format

refactor: update error handling messages, remove unused EditToggle context, and enhance venue data normalization functions
  src/App.tsx
  src/lib/errors/index.ts
  src/pages/Contact/index.tsx
  src/pages/Venues/ViewSingleVenue/index.tsx
  src/pages/Venues/index.tsx
  src/routes/AppRoutes.tsx
  src/styles/base.css
  src/styles/components.css
  src/types/context.ts
  src/types/index.ts
  src/utils/normalizeSingleVenue.ts
  src/utils/normalizeVenues.ts
Due: npm run lint, npm run format

refactor: remove 'oldest' sort option and clean up unused CSS rule
  src/pages/Venues/index.tsx
  src/pages/Venues/utils/SortFilter.tsx
  src/styles/base.css
Due: npm run lint, npm run format

refactor: remove default email value from login input field
  src/pages/Auth/Login.tsx
Due: npm run lint, npm run format

refactor: update button styling for page reload
  src/pages/Venues/index.tsx
Due: npm run lint, npm run format

refactor: remove default password value from login input field
  src/pages/Auth/Login.tsx
Due: npm run lint, npm run format

docs: add project process reflection to README
  README.md
Due: none

Add project process reflection section to README
  README.md
Due: none

Update README to remove project reflection details
  README.md
Due: none

Update repository URL in README
  README.md
Due: none

Checkpoint from VS Code for cloud agent session
  package-lock.json
Due: npm run format

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Due: none

chore: update rollup and related packages to version 4.60.3, and bump various dependencies
  package-lock.json
Due: npm run format
